Click==7.0
Flask==1.1.1
gunicorn==19.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.0
matplotlib==3.1.1
seaborn==0.9.0
Flask==1.1.1
Quandl==3.5.0
numpy==1.17.2
pandas==0.25.1
scikit_learn==0.22.1
