{% extends 'layout.htm' %}
{% block content %}
{% if data %}
    <div class="container">
        <div class="border-bottom">
            <h2>{{title.upper()}} - <small class='text-muted'>
                {% for ele in data[0] %}
                    {% if ele != data[0][-1] %}
                        {{ ele }},
                    {% else %}
                        {{ ele }}
                    {% endif %}
                {% endfor %}
            </small></h2>
        </div>
        <div class="container text-center p-5">
            <img src="/{{ title }}/open_close.png" alt="Open Close viz" class='border-bottom w-50'/>
            <img src="/{{ title }}/high_low.png" alt="High Low viz" class='border-bottom w-50'/>
            <img src="/{{ title }}/volume.png" alt="Volume viz" class='border-bottom w-50'/>
        </div>
    </div> 
{% endif %}
{% endblock content %}